Twisted==13.0.0
cyclone==1.1
hiredis==0.1.1
newrelic==1.13.1.31
pyOpenSSL==0.13
python-dateutil==2.1
pytz==2013b
redis==2.7.5
rq==0.3.7
six==1.3.0
times==0.6.1
txmongo==0.4
wokkel==0.7.1
wsgiref==0.1.2
zope.interface==4.0.5
